[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#todoTitle {
  font-size: 1.8em;
}

.todo-textarea {
  display:inline-block;
  min-height: 10em;
  max-height: 40em;
  resize: none;
  overflow: hidden;
}

.todo-textarea:hover {
  overflow: auto;
  resize: vertical;
}

.todo-each {
  margin-top: 2px;
  border-bottom: 1px solid #D3D3D3;
  cursor: pointer;
  transition: all 0.5s;
}

.todo-each span {
  
}

.todo-each span:focus {
  background: #FCE3FA;
}

.flip-list-move {
  transition: transform 0.5s;
}
